# Practice Case 01<br>Initial Data Analysis of German Credit Score Dataset

The file is Practice Case 01 of Data Science Academy Bootcamp Home Credit Indonesia.
<br>Author: Billy Sagala
<br>Date: 24 October 2019

Data source is [here](https://github.com/arikunco/GermanCredit/tree/master/dataset)

## German Score Credit Case

### Part A

In [2]:
import pandas as pd

In [4]:
german_credit = pd.read_csv("https://raw.githubusercontent.com/arikunco/GermanCredit/master/dataset/german_credit_data_with_risk.csv", encoding='latin1')

1. _How many rows and columns reflected in the dataset?_

In [6]:
german_credit.shape

(1000, 11)

The dataset reflected by __1000 rows__ and __11 columns__.

2. _What is the minimum, maximum, and mean of the customer's age?_

In [7]:
#Checking for null
german_credit.isnull().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [13]:
#Checking for Duplication
gc_duplicated = german_credit[german_credit.duplicated()]
print(gc_duplicated)

Empty DataFrame
Columns: [Unnamed: 0, Age, Sex, Job, Housing, Saving accounts, Checking account, Credit amount, Duration, Purpose, Risk]
Index: []

In [20]:
#Analysis of Age
print("The minimum age of customers is",min(german_credit.Age),".")
print("The maximum age of customers is",max(german_credit.Age),".")

import statistics
mean_gc_age = statistics.mean(german_credit.Age)
print("The mean age of customers is",mean_gc_age,".")

The minimum age of customers is 19 .
The maximum age of customers is 75 .
The mean age of customers is 35.546 .

3. _How many are male and how many are female? Why?_

In [34]:
print("Male costumer is",len(german_credit[german_credit.Sex=="male"]),".")
print("Female costumer is",len(german_credit[german_credit.Sex=="female"]),".")

Male costumer is 690 .
Female costumer is 310 .

4. _How many high skilled workers customers reflected in the dataset?_

In [221]:
print("The Number of high skilled workers customer is",len(german_credit[german_credit.job==3]),".")

The Number of high skilled workers customer is 148 .

5. _How many customers who own the house?_

In [36]:
print("The Number of customer who own the house is",len(german_credit[german_credit.Housing=="own"]),".")

The Number of customer who own the house is 713 .

6. _How many customers who have 'rich' Saving accounts?_

In [41]:
#Checking the columns names
german_credit.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [43]:
#Standardized the columns names
german_credit.columns=['no','age','sex','job','housing','saving_accounts','checking_account','credit_amt',
                       'duration','purpose','risk']

In [44]:
german_credit.columns

Index(['no', 'age', 'sex', 'job', 'housing', 'saving_accounts',
       'checking_account', 'credit_amt', 'duration', 'purpose', 'risk'],
      dtype='object')

In [45]:
print("The Number of customer who have rich saving accounts",len(german_credit[german_credit.saving_accounts=="rich"]),".")

The Number of customer who have rich saving accounts 48 .

7. _How many customers who do not have checking accounts or have zero checking account?_

In [63]:
print("Number of customers who do not have checking accounts or have zero checking account is",
      (german_credit.checking_account.isnull().sum()))

Number of customers who do not have checking accounts or have zero checking account is 394

8. _Who is the one who have highest credit amount? Show us the profile of the age, sex, job, housing, saving
account, and checking account!_

In [74]:
#defining the highest credit How many customers are classified as good risk and bad risk?amount 
amt_sorting = german_credit.sort_values(by=['credit_amt'],ascending=False)
highest_credit_amt = amt_sorting.head(1)
highest_credit_amt[['age','sex','job','housing','saving_accounts','checking_account']]

     age     sex  job housing saving_accounts checking_account
915   32  female    3     own          little         moderate

9. _How many customers are classified as good risk and bad risk?_

In [79]:
print("The Number of customer who classified as good risk is",len(german_credit[german_credit.risk=="good"]),
      ", and classified as bad risk is",len(german_credit[german_credit.risk=="bad"]),".")

The Number of customer who classified as good risk is 700 , and classified as bad risk is 300 .

10. _Is the average of credit amount for good risk is higher than bad risk?_

In [90]:
#distinction between
bad_risk = german_credit[german_credit.risk=="bad"]
good_risk = german_credit[german_credit.risk=="good"]

#calculate the average
avg_credit_amt_bad_risk = statistics.mean(bad_risk.credit_amt)
avg_credit_amt_good_risk = statistics.mean(good_risk.credit_amt)


#set the logic statement
if avg_credit_amt_good_risk > avg_credit_amt_bad_risk:
    print("Yes,the average of credit amount for good risk is higher than bad risk.")
else:
    print("No,the average of credit amount for good risk is lower than bad risk.")
    print("The average of credit amount for good risk is",(avg_credit_amt_good_risk),
          "and for bad risk",(avg_credit_amt_bad_risk))

No,the average of credit amount for good risk is lower than bad risk.
The average of credit amount for good risk is 2985.457142857143 and for bad risk 3938.1266666666666

## Part B

10 Questions and Answer to Understand more about the dataset.

1. Number of credit application and amount per purpose.

In [158]:
print("Number of Credit Application per purpose:")
pivot_credit_number = german_credit.pivot_table(index=['purpose'],values=['credit_amt'],aggfunc={'count','sum','mean'})
pivot_credit_number

Number of Credit Application per purpose:

                    credit_amt
                         count         mean        sum
purpose
business                  97.0  4158.041237   403330.0
car                      337.0  3768.192878  1269881.0
domestic appliances       12.0  1498.000000    17976.0
education                 59.0  2879.203390   169873.0
furniture/equipment      181.0  3066.988950   555125.0
radio/TV                 280.0  2487.653571   696543.0
repairs                   22.0  2728.090909    60018.0
vacation/others           12.0  8209.333333    98512.0

2. Gender composition of Customer of purpose with the highest average of credit amount

In [161]:
pivot_credit_amount1 = german_credit.pivot_table(index=['purpose'],values=['credit_amt'],aggfunc='mean')

In [136]:
highest_credit_amt_avg = pivot_credit_amount1.sort_values(by='credit_amt',ascending=False).head(1)
highest_credit_amt_avg

                  credit_amt
purpose
vacation/others  8209.333333

The highest credit amount average is credit with purpose of __Vacation/Others__.

In [155]:
gc_purpose_vacation = german_credit[german_credit.purpose=="vacation/others"]
print("Male costumer with purpose Vacation/Others is",len(gc_purpose_vacation[gc_purpose_vacation.sex=="male"]),".")
print("Female costumer with purpose Vacation/Others is",len(gc_purpose_vacation[gc_purpose_vacation.sex=="female"]),".")

Male costumer with purpose Vacation/Others is 9 .
Female costumer with purpose Vacation/Others is 3 .

3. Sorting of Purpose Number Percentage based on Risk Category

In [187]:
gc_by_risk = german_credit.groupby(['risk','purpose']).agg({'no':'count'})

print("This is the composition percentage of purpose on Bad Risk Category:")

gc_by_risk_bad = german_credit[german_credit.risk=="bad"].groupby(['risk','purpose']).agg({'no':'count'})
gc_by_risk_bad_prc = gc_by_risk_bad.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
gc_by_risk_bad_prc.sort_values(by=['no'],ascending=False)

This is the composition percentage of purpose on Bad Risk Category:

                                 no
risk purpose
bad  car                  35.333333
     radio/TV             20.666667
     furniture/equipment  19.333333
     business             11.333333
     education             7.666667
     repairs               2.666667
     vacation/others       1.666667
     domestic appliances   1.333333

In [188]:
print("This is the composition percentage of purpose on good Risk Category:")

gc_by_risk_good = german_credit[german_credit.risk=="good"].groupby(['risk','purpose']).agg({'no':'count'})
gc_by_risk_good_prc = gc_by_risk_good.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
gc_by_risk_good_prc.sort_values(by=['no'],ascending=False)

This is the composition percentage of purpose on good Risk Category:

                                 no
risk purpose
good car                  33.000000
     radio/TV             31.142857
     furniture/equipment  17.571429
     business              9.000000
     education             5.142857
     repairs               2.000000
     domestic appliances   1.142857
     vacation/others       1.000000

4. Number of Customers on bad risk category with rich saving account

In [210]:
gc_risk_bad = german_credit[german_credit.risk=="bad"]
print("Number of Customers on bad risk category with rich saving account is",
      len(gc_risk_bad[gc_risk_bad.saving_accounts=="rich"]))

Number of Customers on bad risk category with rich saving account is 6

5. Highest Purpose Percentage based on Gender

In [218]:
gc_by_purpose_sex = german_credit.groupby(['sex','purpose']).agg({'purpose':'count'})
gc_by_purpose_sex_prc = gc_by_purpose_sex.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
gc_by_purpose_sex_p

                              purpose
sex    purpose
female business              6.129032
       car                  30.322581
       domestic appliances   1.935484
       education             7.741935
       furniture/equipment  23.870968
       radio/TV             27.419355
       repairs               1.612903
       vacation/others       0.967742
male   business             11.304348
       car                  35.217391
       domestic appliances   0.869565
       education             5.072464
       furniture/equipment  15.507246
       radio/TV             28.260870
       repairs               2.463768
       vacation/others       1.304348

Both sexes has the same pattern, the highest percentage is on __car__ and the lowest percentage is __vacation__.

6. Number of Purpose taken by unskilled and non-resident

In [232]:
gc_customer_us_nr =  german_credit[german_credit.job==0]
gc_by_purpose_us_nr = gc_customer_us_nr .groupby(['purpose']).agg({'no':'count'})
gc_by_purpose_us_nr

                     no
purpose
business              2
car                  12
domestic appliances   1
education             1
furniture/equipment   1
radio/TV              2
repairs               2
vacation/others       1

7. Number of customers with unskilled and non-resident that have home

In [236]:
print("Number of customers with unskilled and non-resident that have home is",
      len(gc_customer_us_nr[gc_customer_us_nr.housing=="own"]))

Number of customers with unskilled and non-resident that have home is 13

8.Number of Rich Saving Accounts that Rent Home

In [245]:
gc_saving_rich = german_credit[german_credit.saving_accounts=="rich"]
gc_saving_rich_rent = gc_saving_rich[gc_saving_rich.housing=="rent"]
print("Number of Rich Saving Accounts that Rent Home is",len(gc_saving_rich_rent))

Number of Rich Saving Accounts that Rent Home is 9

9. Is the average of credit amount for male is higher than female?

In [249]:
#distinction between
male_risk = german_credit[german_credit.sex=="male"]
female_risk = german_credit[german_credit.sex=="female"]

#calculate the average
avg_credit_amt_male = statistics.mean(male_risk.credit_amt)
avg_credit_amt_female = statistics.mean(female_risk.credit_amt)


#set the logic statement
if avg_credit_amt_male > avg_credit_amt_female:
    print("Yes,the average of credit amount for male is higher than male.")
else:
    print("No,the average of credit amount for male is lower than female.")

Yes,the average of credit amount for male is higher than male.

In [250]:
   print("The average of credit amount for male is",(avg_credit_amt_male),
          "and for female",(avg_credit_amt_female))

The average of credit amount for male is 3448.040579710145 and for female 2877.7741935483873

10. Range of Age that taking Education Loan

In [255]:
gc_education = german_credit[german_credit.purpose=="education"]
print("Customers that take credit with education purpose range from age of",(gc_education.age.min()),"to",(gc_education.age.max()))

Customers that take credit with education purpose range from age of 21 to 67

# 3 Business Problem based on Dataset

1. Developing credit product that suits customers needs based on their demographics.
2. Defining customers risk category.
3. Product cross-selling.